---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cihaz Ayarlama">
  <main>
    <h1>Cihaz Ayarlama</h1>
    <p class="talimatlar">
      <code>Write Api</code> gibi bilgilerle <strong>Api istek</strong> oluşturma
    </p>

    <form action="https://api.thingspeak.com/update" method="get" class="form-example" autocomplete="on">
      <div class="form-control">
        <label for="api_key">WriteApi (16 karakter):</label>
        <input type="text" placeholder="23ZLGOBBU9TWHG2H" id="api_key" name="api_key" required minlength="16" maxlength="16" size="16" />
      </div>

      <div class="divider"></div>
      <select id="uyku">
        <option disabled selected>Uyku Zamanı (dk)</option>
        <option>15</option>
        <option>30</option>
        <option>45</option>
        <option>60</option>
      </select>
      <label class="label">
        <span class="label-text-alt">Uyku Zamanı (dk)</span>
      </label>

      <div class="form-control w-1/2  my-4">
        <label class="label cursor-pointer">
          <span class="label-text">Dara</span>
          <input id="dara" type="checkbox" checked />
        </label>
      </div>

      <div class="form-control  max-w-xs">
        <input type="number" placeholder="Offset Değeri" id="offset" min="0" max="150" />
        <label class="label">
          <span class="label-text-alt">0-150 arası</span>
        </label>
      </div>

      <br />
      <input type="hidden" id="field8" name="field8" value="77" />
      <input id="gonderDugme" type="submit" value="gönder" class="btn btn-block my-4" />
    </form>
  </main>
</Layout>

<style>
  main {
    @apply max-w-md m-auto p-5;
  }
  h1 {
    @apply text-xl font-bold tracking-tight sm:text-center sm:text-6xl;
  }

  .talimatlar {
    @apply m-4 p-4 bg-slate-100;
  }

  form {
    @apply m-5 border-solid border-t-8 border-x-indigo-100 py-6;
  }
  input {
    @apply input input-bordered input-lg w-full max-w-xs ;
  }
  #uyku {
    @apply select select-bordered select-lg max-w-xs;
  }
  #dara {
    @apply toggle toggle-lg ;
  }
  #offset {
    @apply input input-bordered input-lg max-w-xs;
  }
</style>
<script>
  // @ts-nocheck
  gonderDugme.addEventListener("click", () => {
    fieldOlustur();
  });
  const fieldOlustur = () => {
    const uykuDeger = isNumber(uyku.value) ? uyku.value : "Q";
    const daraDeger = (dara.value = "on" ? 1 : 0);
    const offsetDeger = offset.value == "" ? "Q" : offset.value;

    field8.value = uykuDeger + "W" + daraDeger + "W" + offsetDeger;
  };
  const isNumber = (n) => {
    return !isNaN(n);
  };
</script>
