---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cihaz Ayarlama">
  <main>
    <h1>Cihaz Ayarlama</h1>
    <p class="talimatlar">
      <code>Write Api</code> gibi bilgilerle <strong>Api istek</strong> oluşturma
    </p>
    <input type="text" placeholder="WriteApi" />
    <div class="divider"></div>
    <input type="text" placeholder="Uyku Zamanı" />
    <input type="text" placeholder="Offset Değeri" />
    <br>
    <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">Gönder</button>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .talimatlar {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: lightgoldenrodyellow;
    padding: 1rem;
    border-radius: 0.4rem;
  }

  .talimatlar strong {
    color: rgb(var(--accent));
  }
  input {
    @apply input input-bordered w-full max-w-xs m-3;
  }
</style>
